<div style="display: flex; margin: 0 auto; justify-content: center; align-items: center; height: 100vh; font-family: Arial, Helvetica, sans-serif; box-sizing: border-box;">
	<div style="width: 600px; padding: 20px 8%; text-align: center; background-color: #fff; border-radius: 12px; color: #333;">
		<p style="font-size: 18px; color: #888;">Thank you for registering!</p>
		<img src="https://i.pinimg.com/originals/ff/d2/c2/ffd2c238fb713dbf7872626b493f2a81.jpg" alt="email" width="300px">
		<h1>Verify your email address</h1>
		<p><p>Verify your email address to complete the signup and login your account.</p>
		<p>This link <b>expires in 30 Minutes</b>.
		</p><p>Press <a href="{{link}}"> here</a> to proceed</p>
	</div>
</div>
   